<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Greek Digital Community Jobs">
  <meta itemprop="description"
        content="A template to list all jobs posted on GDC jobs channel.">
  <title>GDC Jobs</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="view">
    <div class="news-list">
      <ul>
        {% for job in jobs %}
          <li class="news-item">
            <span class="score">{{ loop.index }}</span>
            <span class="title">
              <a href="{{ job.url }}" target="_blank">{{ job.pageTitle }}</a>
            </span>
            <br>
            <span class="meta">
              by @{{ job.postedBy }} - {{ job.postedOn }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>