<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <meta name="description" content="Οι θέσεις εργασίας που παρουσιάζονται παρακάτω έχουν προστεθεί από τα μέλη της κοινότητας. Για να προσθέσετε νέες θέσεις εγγραφείτε στην κοινότητα (https://greekdigitalcommunity.herokuapp.com).">
  <!-- Schema.org for Google -->
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Greek Digital Community jobs">
  <meta itemprop="description" content="Οι θέσεις εργασίας που παρουσιάζονται παρακάτω έχουν προστεθεί από τα μέλη της κοινότητας. Για να προσθέσετε νέες θέσεις εγγραφείτε στην κοινότητα (https://greekdigitalcommunity.herokuapp.com).">

  <title>GDC Jobs</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Greek Digital Community jobs">
  <meta name="twitter:description" content="Οι θέσεις εργασίας που παρουσιάζονται παρακάτω έχουν προστεθεί από τα μέλη της κοινότητας. Για να προσθέσετε νέες θέσεις εγγραφείτε στην κοινότητα (https://greekdigitalcommunity.herokuapp.com).">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Greek Digital Community jobs">
  <meta name="og:description" content="Οι θέσεις εργασίας που παρουσιάζονται παρακάτω έχουν προστεθεί από τα μέλη της κοινότητας. Για να προσθέσετε νέες θέσεις εγγραφείτε στην κοινότητα (https://greekdigitalcommunity.herokuapp.com).">
  <meta name="og:url" content="https://jobs.greekdigitalcommunity.com/">
  <meta name="og:site_name" content="Greek Digital Community jobs">
  <meta name="og:type" content="website">
</head>
<body>
 <header class="header">
    <nav class="inner">
      <a href="https://greekdigitalcommunity.com/">&lt;/GreekDigitalCommunity&gt;</a>
      <a class="github" href="https://github.com/greekdigitalcommunity/gdc-job-listing" target="_blank">
        Built by GDC!
      </a>
    </nav>
  </header>
  <div class="view">
    <div class="intro">
      <div class="inner">
        Οι θέσεις εργασίας που παρουσιάζονται παρακάτω έχουν προστεθεί από τα μέλη της κοινότητας. Για να προσθέσετε νέες θέσεις <a href="https://greekdigitalcommunity.herokuapp.com">εγγραφείτε στην κοινότητα</a>.
      </div>
    </div>
    <div class="news-list">
      <ul>
        {% for job in jobs %}
          <li class="news-item">
            <span class="score">{{ loop.index }}</span>
            <span class="title">
              <a href="{{ job.url }}" target="_blank">{{ job.pageTitle }}</a>
            </span>
            <br>
            <span class="meta">
              by @{{ job.postedBy }} - {{ job.postedOn }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>